<html>
    <head>
        <link rel="stylesheet"
         type="text/css"
        href="{{ url_for('static', filename='style.css') }}"/>
    </head>
    <body display>
	<div id="content">
                <form method="post" action="{{ url_for('results') }}" id = "formatform">

                   <br/><TEXTAREA name="yourname" rows="20" cols="80">{{name[1]}}</TEXTAREA>
                  <input type="submit" onclick="loading();" class = "myButton"/>
                </form>
                
				<form action="/foo/" method="post" class="inline">
				<select name="formatlist" form="formatform" style="width:auto;" class = "myButton" >
                    <option value="Table">Table</option>
                   <option value="CSV">CSV</option>
				</select>
				
				<button type="submit" value="Data_Map" class = "myButton"> Data Map and SQL Examples</button>
				</form>
             
            </div>
            <div id="content">
            <h2>Query Results:</h2>   
                {%for i in name[0]%}  
                   {{i}}<br>
                 {% endfor %}
          

          </div>
    
    </body>
</html>
