 <form action="." method="POST">
                <div class="col-sm-4" id="mainsubdiv">
                    <select class="form-control" id="op" name="choice">
                        <option disabled selected value></option>
                        <option value="1">Basic Algebra</option>
                        <option value="2">Quadratics</option>
                        <option value="3">Simultaneous equations</option>
                        <option value="4">Differentiation</option>
                    </select>
                </div>
                <div class="col-sm-6" id="mainsubdiv">
                    <input type="text" class="form-control" id="textbx" name="equation">
                </div>
                <div class="col-sm-2" id="mainsubdiv">
                    <input type="submit" class="btn btn-default" href="http://google.com" id="subbtn">Submit <span class="glyphicon glyphicon-ok"></span></button>
                </div>
            </form>
